@model LoginViewModel
@{ ViewData["Title"] = "Skilled Force Login Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to Skilled Force</h1>
    <p>Please login to your account</p>

    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <div class="form-group">
            <label>UserId</label>
            @Html.TextBoxFor(m => m.username, null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Password</label>
            @Html.PasswordFor(m => m.password, new { @class = "form-control" })
        </div>

        <input type="submit" class="btn btn-primary" value="Login" />
    }
    <div class="text-center pt-1 mb-5 pb-1">
        <a class="text-muted" href="#!">Forgot password?</a>
    </div>

    <div class="d-flex align-items-center justify-content-center pb-4">
        <p class="mb-0 me-2">Don't have an account? </p>
        <a class="text-muted" href="#!">Create new</a>
</div>
</div>